### DSN AI+ FUTA
### Python Basics

### Variables and Datatypes

*Variables are place holders, they are specifica and case sensitive. Values can be called through their variable names. For example*

In [1]:
# Note: in python Variables cannot start with numbers or special character such as @.;''
name_of_var = 2
weight = 3

In [2]:
name_of_var

2

In [3]:
name_of_var = 5

In [4]:
name_of_var

5

In [5]:
weight

3

In [6]:
name_of_var

5

In [7]:
x = 2
y = 3

### Arithmetic Operations and comparison in Python

In [8]:
z = x + y

In [9]:
z

5

In [10]:
subt = x-y
subt

-1

In [11]:
mult = x*y
mult

6

### Datatypes

In [12]:
#Intergers are positive and negative whole number
x = 4
type(x)

int

In [13]:
#Float or floating point numbers in other programming language
y= 3.15
type(y)

float

In [14]:
u = 42.78901
u

42.78901

In [15]:
type(u)

float

In [16]:
#boolean: they are usualy true or false
z= x > y
type(z)

bool

In [17]:
#Comparison
x= 5
y = 10
r = x > y

In [18]:
r

False

In [19]:
x == y

False

In [20]:
#Strings are pythons way to represent text. They are usually enclosed in double or single quotes
name = "My name is Grace"
type(name)

str

### Numbers and mathematical operators

In [21]:
#Addition
1 + 1

2

In [22]:
#Multiplication
1 * 3

3

In [23]:
#Division
1/2

0.5

In [24]:
#Exponential
2**4

16

In [25]:
#Another way to perform exponential or power operation
pow(2, 4)

16

In [26]:
#mod
4 % 2

0

In [27]:
5 % 2

1

####  PEDMAS

P -  Parenthesis
E- Exponential
D- Division
M - Multiplication
A - Addition
S - Subtraction

In [28]:
 5 * 4**(5/8) + 2 - 9

4.89207115002721

In [29]:
 operation = (((5 * ((4**5)/8)) + 2) - 9)

In [30]:
operation

633.0

In [31]:
(2 + 3) * (5 + 5)

50

## Strings

In [32]:
'single quotes'

'single quotes'

In [33]:
"double qoutes"

'double qoutes'

In [34]:
"wrap lot's of other quotes"

"wrap lot's of other quotes"

#### Note the plus operator behaves differently for different datatypes. This is a general principle

In [35]:
'ab' + 'bd'

'abbd'

## Printing

In [36]:
x = 'hello'

In [37]:
x

'hello'

In [38]:
print(x)

hello

In [39]:
num = 10
name = "Grace"

In [40]:
name = "Goodness"
matricNo = 20152355

In [41]:
#Using .format() is a funtion that only works in python 3
print("My name is {name1} and my matric number is {matricNo1}".format(name1 = name, matricNo1 = matricNo))

My name is Goodness and my matric number is 20152355

In [42]:
print("My name is {} and my matric number is {}".format(name,matricNo))

My name is Goodness and my matric number is 20152355

In [43]:
print("My number is: {one}, and my name is: {two}".format(one=num,two=name))

My number is: 10, and my name is: Goodness

In [44]:
print("My number is: {}, and my name is: {}".format(num,name))

My number is: 10, and my name is: Goodness

In [45]:
print("My name is ", name)

My name is  Goodness

## Lists

### As a data scientist you often want to work with many datapoints, not just single variable. For example you want to store the score of 10  students ???

In [46]:
### Without Lists
Student1 = 10
Student2 = 9
Student3 = 8
Student5 = 9
Student6 = 7
Student10 = 10

In [47]:
#List
name = ["Greg", "John"]
name

['Greg', 'John']

In [48]:
type(name)

list

In [49]:
# With List
studentScore = [10,9,8,9,7,10]
studentScore

[10, 9, 8, 9, 7, 10]

In [50]:
[1,2, 3]

[1, 2, 3]

### A list is a way to give a single name to a collection of values. These values are elements of any type, it can be float, integers, strings, or another list (list Comprehension)!

***Note it is possible for a list to contain different data types***

In [51]:
studentScore = ['Student1', 10, 'Student2', 5, 'Student3', 6, 'Student4', 7, 'Student5', 10]

In [52]:
studentScore

['Student1', 10, 'Student2', 5, 'Student3', 6, 'Student4', 7, 'Student5', 10]

In [53]:
height = [["Kola", 3.14], ["George", 6.76]]
height

[['Kola', 3.14], ['George', 6.76]]

In [54]:
type(height)

list

#### List inside another list

In [55]:
score2 = [['Student1', 10], ['Student2', 5], ['Student3', 6], ['Student4', 7], ['Student5', 10]]
score2

[['Student1', 10],
 ['Student2', 5],
 ['Student3', 6],
 ['Student4', 7],
 ['Student5', 10]]

#### 5 sublist in 1 list

In [56]:
type(studentScore)

list

In [57]:
type(score2)

list

In [58]:
country = ["Nigeria", "Ghana", "France", "Cameron", "Hungary", "Saudi Arabia", "Israel", ["Jerusalem", "USA"]]

In [59]:
country

['Nigeria',
 'Ghana',
 'France',
 'Cameron',
 'Hungary',
 'Saudi Arabia',
 'Israel',
 ['Jerusalem', 'USA']]

In [60]:
Nations = country[0:4]
Nations

['Nigeria', 'Ghana', 'France', 'Cameron']

In [61]:
['hi', 1, [1, 2]]

['hi', 1, [1, 2]]

In [62]:
type(country)

list

### Subsetting List

#### Python uses zero base indexing to retrieve an element from a list

In [63]:
studentScore

['Student1', 10, 'Student2', 5, 'Student3', 6, 'Student4', 7, 'Student5', 10]

In [64]:
studentScore[3]

5

In [65]:
# used to retrieve element at the end of a list
studentScore[-1]

10

#### List slicing - Creating a new list from a list or selecting multiple indexes using :

In [66]:
studentScore

['Student1', 10, 'Student2', 5, 'Student3', 6, 'Student4', 7, 'Student5', 10]

In [67]:
# last element not inclusive i.e [start:end-1]
studentScore[3:5]

[5, 'Student3']

In [68]:
# subsetting first four element, Note the last element is not included
studentScore[:4]

['Student1', 10, 'Student2', 5]

In [69]:
# subsetting 5 to the end
studentScore[5:]

[6, 'Student4', 7, 'Student5', 10]

In [70]:
my_list = ["a", "b", "c"]

In [71]:
my_list.append("d")

In [72]:
my_list

['a', 'b', 'c', 'd']

In [73]:
country[1:]

['Ghana',
 'France',
 'Cameron',
 'Hungary',
 'Saudi Arabia',
 'Israel',
 ['Jerusalem', 'USA']]

In [74]:
country[:1]

['Nigeria']

In [75]:
country[7]

['Jerusalem', 'USA']

In [76]:
country[7][1]

'USA'

In [77]:
# Let's make it complex
family = ['Martins', 'Cynthia', 'Nne', ['Chris', 'Collins',['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

In [78]:
family

['Martins',
 'Cynthia',
 'Nne',
 ['Chris', 'Collins', ['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

In [79]:
family

['Martins',
 'Cynthia',
 'Nne',
 ['Chris', 'Collins', ['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

In [80]:
family[3][3][1]

['Gift', 'Jennifer']

In [81]:
family[3][3][1][1]

'Jennifer'

### Manipulating Lists

#### After creation of lists and subsetting, you must also know how to manipulate a list i.e Chang elements in a list, add elements to a list or remove elements from a list

#### Changing elements in a list

In [82]:
family

['Martins',
 'Cynthia',
 'Nne',
 ['Chris', 'Collins', ['Jude', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

In [83]:
family[3][2][0] = 'Okoye'
family

['Martins',
 'Cynthia',
 'Nne',
 ['Chris', 'Collins', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

In [84]:
#Changing a single element
#Changing the name of Collins to  Charlse (Identify the subset Collins and equate it to a new name)
family[3][1] = 'Charlse'
family

['Martins',
 'Cynthia',
 'Nne',
 ['Chris', 'Charlse', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

In [85]:
family

['Martins',
 'Cynthia',
 'Nne',
 ['Chris', 'Charlse', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

In [86]:
family[1:3] = ["Grace", "Joel"]
family

['Martins',
 'Grace',
 'Joel',
 ['Chris', 'Charlse', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

In [87]:
#Changing multiple elements
#To change Martins and Cynthia
family[0:2] = ['Grace', 'John']
family

['Grace',
 'John',
 'Joel',
 ['Chris', 'Charlse', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

### Adding and Removing elements from a list

In [88]:
family

['Grace',
 'John',
 'Joel',
 ['Chris', 'Charlse', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

In [89]:
family + ["Mark", "Joy", "Paul"]

['Grace',
 'John',
 'Joel',
 ['Chris', 'Charlse', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'Mark',
 'Joy',
 'Paul']

In [90]:
#Similar to adding two strings
family + ['Mark', 'Joy']

['Grace',
 'John',
 'Joel',
 ['Chris', 'Charlse', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'Mark',
 'Joy']

In [91]:
#You can also save it in another variable
familyNew = family + ['Mark', 'Joy']
familyNew

['Grace',
 'John',
 'Joel',
 ['Chris', 'Charlse', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'Mark',
 'Joy']

In [92]:
del(familyNew[3][1])
familyNew

['Grace',
 'John',
 'Joel',
 ['Chris', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'Mark',
 'Joy']

In [93]:
family

['Grace',
 'John',
 'Joel',
 ['Chris', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

In [94]:
del family[0]

In [95]:
family

['John',
 'Joel',
 ['Chris', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]]]

#### To delete elements from a list. Syntax is del(listName[element_loc])

In [96]:
#To delete John
del(familyNew[1])
familyNew

['Grace',
 'Joel',
 ['Chris', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'Mark',
 'Joy']

In [97]:
familyNew

['Grace',
 'Joel',
 ['Chris', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'Mark',
 'Joy']

In [98]:
z2=familyNew + ["Triumph"]
z2

['Grace',
 'Joel',
 ['Chris', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'Mark',
 'Joy',
 'Triumph']

In [99]:
familyNew

['Grace',
 'Joel',
 ['Chris', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'Mark',
 'Joy']

In [100]:
familyNew.append('Triumph')

In [101]:
familyNew

['Grace',
 'Joel',
 ['Chris', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'Mark',
 'Joy',
 'Triumph']

In [102]:
familyNew.insert(1,"Jude")

In [103]:
familyNew

['Grace',
 'Jude',
 'Joel',
 ['Chris', ['Okoye', 'Okenna'], ['Chile', ['Gift', 'Jennifer']]],
 'Mark',
 'Joy',
 'Triumph']

#### Note: When copying lists, by using '=' you are only copying the reference to the list not the actual values themselves, by changing an element in the new list y, it also affects the original list x. However, if you want to retain the elements in the original list, you can use y = list(x). This preserves the element in the original list x, even when an element is changed in y.

In [104]:
X = ['a', 'b', 'c', 'd']

In [105]:
# Copying X to y
y = X
y

['a', 'b', 'c', 'd']

In [106]:
#Changing element c in y to k
y[2] = 'k'
print(y)
print(X)

['a', 'b', 'k', 'd']
['a', 'b', 'k', 'd']

In [107]:
#Using list()
y = list(X)
#Changing element d in y to k
y[-1] = 'p'
print(y)
print(X)

['a', 'b', 'k', 'p']
['a', 'b', 'k', 'd']

In [108]:
y[-3:-1]

['b', 'k']

## Dictionaries

*A dictionary maps a set of objects(Keys) to another set of objects (values). It involves mapping unique keys to values. Dictionaries are unordered, so the order that the keys are added doesnt necessarily reflect what order they may be reported. Note you use {  } to create dictionaries and [  ] to index them*

In [109]:
colors  = {"Isreal": "Blue", "Meshach": "red", "Triumph": "Pink"}

In [110]:
colors

{'Isreal': 'Blue', 'Meshach': 'red', 'Triumph': 'Pink'}

In [111]:
#You use the key to access the value, for example: dictinaryName['key']
colors["Meshach"]

'red'

In [112]:
colors['Isreal']

'Blue'

In [113]:
new_data = {"house": "building where people"}

In [114]:
#dictionaries are indexed with their keys
new_data['house']

'building where people'

In [115]:
#A dictionary with a list
states = {"Edo": "The capital of Edo states is Benin", 
          "Ekiti": "The capital of Ekiti states is Ado-Ekiti", 
          "Oyo": "The capital of Oyo states is Ibadan", 
          "Lagos": "The capital of Lagos states is Ikeja", 
          "Ogun": "The capital of Ogun states is Abeokuta",
          "USA": ["Califonia", "Texas", "NY", "LAS.V"]}
print(states)

{'Edo': 'The capital of Edo states is Benin', 'Ekiti': 'The capital of Ekiti states is Ado-Ekiti', 'Oyo': 'The capital of Oyo states is Ibadan', 'Lagos': 'The capital of Lagos states is Ikeja', 'Ogun': 'The capital of Ogun states is Abeokuta', 'USA': ['Califonia', 'Texas', 'NY', 'LAS.V']}

In [116]:
states

{'Edo': 'The capital of Edo states is Benin',
 'Ekiti': 'The capital of Ekiti states is Ado-Ekiti',
 'Oyo': 'The capital of Oyo states is Ibadan',
 'Lagos': 'The capital of Lagos states is Ikeja',
 'Ogun': 'The capital of Ogun states is Abeokuta',
 'USA': ['Califonia', 'Texas', 'NY', 'LAS.V']}

In [117]:
#add a value to the dictionary
states["Ondo"] = "Akure"
print(states)

{'Edo': 'The capital of Edo states is Benin', 'Ekiti': 'The capital of Ekiti states is Ado-Ekiti', 'Oyo': 'The capital of Oyo states is Ibadan', 'Lagos': 'The capital of Lagos states is Ikeja', 'Ogun': 'The capital of Ogun states is Abeokuta', 'USA': ['Califonia', 'Texas', 'NY', 'LAS.V'], 'Ondo': 'Akure'}

In [118]:
#remove a key and its value
del states['Ondo'] # OR del(states['Ondo'])
states

{'Edo': 'The capital of Edo states is Benin',
 'Ekiti': 'The capital of Ekiti states is Ado-Ekiti',
 'Oyo': 'The capital of Oyo states is Ibadan',
 'Lagos': 'The capital of Lagos states is Ikeja',
 'Ogun': 'The capital of Ogun states is Abeokuta',
 'USA': ['Califonia', 'Texas', 'NY', 'LAS.V']}

In [119]:
#check the length of the dictionary
len(states)

6

In [120]:
states["USA"][1]

'Texas'

## Booleans

In [121]:
True

True

In [122]:
False

False

### Functions

A function is a piece of reuseable codes used in solving a particular task. Functions can be called instead of having to write code yourself.
Methods are attribute of a class (e.g .append(), while a function are called holistically to carry out a certain task e.g print(), max() etc.

We have two (2) types, in-bult and user define function.
<ol> <li>in-built Functions are simply functions that came with python as default. e.g print(), type() etc.</li>
    <li>User Define FUnctions: These are functions that are define by individual to avoid repetion of codes.</li>
    
</ol>

When a variable is defined within a function, such a variable can only be access within the function - this is called a local variable.

In [123]:
#Example calcuate the sum of numbers in a list
numb = [1,2,3,4,5,6]
#without functions
numbavg = 1+2+3+4+5+6
numbavg

21

In [124]:
#with function sum()
numbavg2 = sum(numb)
numbavg2

21

In [125]:
#finding the maximum value
max(numb)

6

In [126]:
#round function takes 2 imputs, but if you dont specify it rounds up to the nearest whole number
round(1.68456)

2

In [127]:
round(1.68)

2

In [128]:
# to check the documentation of a function use help()
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

#### Methods
Functions that belong to an object.
All datatypes are python objects and each object has an associated method to them. For example str - methods: .capitalize(), .replace(); float - methods: .bit_length(), .conjugate(); List - methods: .index(), .count()

In [129]:
name = 'prosper'

In [130]:
name.capitalize()

'Prosper'

In [131]:
name.replace('r','ct')

'pctospect'

In [132]:
#To get the index of an element in a list
country

['Nigeria',
 'Ghana',
 'France',
 'Cameron',
 'Hungary',
 'Saudi Arabia',
 'Israel',
 ['Jerusalem', 'USA']]

In [133]:
country.index("France")

2

In [134]:
country.count("Hungary")

1

In [135]:
name = 'paul'
name.capitalize()

'Paul'

In [136]:
#replaing part of a string paul to paula
name.replace('l', 'la')

'paula'

In [137]:
#some methods have do no return a result but carries out the required action.
country.append("Germany")

In [138]:
country

['Nigeria',
 'Ghana',
 'France',
 'Cameron',
 'Hungary',
 'Saudi Arabia',
 'Israel',
 ['Jerusalem', 'USA'],
 'Germany']

### User defined Functions

In [139]:
#To calculate the sqaure of a number
def square(x):
    return(x**2)

In [140]:
square(2)

4

In [141]:
# To calculate simple interest
def simpleInterest(p,r, t):
    return (p*r*t)/ 100

In [142]:
simpleInterest(200,5,5)

50.0

In [143]:
def cubeRoot(x):
    return((x**4) / 3)

In [144]:
out = cubeRoot(2)
print(out)

5.333333333333333

In [145]:
def congrats(name, cgpa):
    x = print("Congratulations {}! your cgpa is {}".format(name, cgpa))
    return x

In [146]:
congrats("Grace", 5.0)

Congratulations Grace! your cgpa is 5.0

#### Task calculate the BMI of a person = W/ H^2

## Logic Operator

<, >, ==, !=, >=, <=

### Control Flows

#### if, elif, else Statements
Syntax

if condition:

    operation

In [147]:
if (3<2):
    print("Yep")
else:
    print("No")

No

In [148]:
if (1<2):
    print("Yep")

Yep

In [149]:
if (1<2):
    print("First")
else:
    print('last')

First

In [150]:
if (1>2):
    print("First")
else:
    print('last')

last

In [151]:
if (1 > 2):
    print("First")
elif 1 == 2:
    print("Middle")
else:
    print('last')

last

In [152]:
x = 12 
if ((x > 10) and (x % 2 == 0)):
    print("Good number")
elif ((x < 10) and (x % 2 != 0)):
    print("Bad number")
else:
    print("Number is not valuable")

Good number

## for Loops

This is used in situations where you are searching for a data in a large data set with the person's name.

Note: variables might not be declared but used for example, item, i etc.

In [153]:
seq = [1, 2, 3, 4]

In [154]:
for item in seq:
    print ("Yep")

Yep
Yep
Yep
Yep

In [155]:
for item in seq:
    print (item)

1
2
3
4

In [156]:
strg = "this is a this dog"

In [157]:
for item in strg:
    x = strg.count("this")
print(x)

2

In [158]:
names = ["Femi", "Ibukun", "Tola", "George", "Kemi", "Austin", "Peter", "John", "Grace", "Uche", "Paul"]

In [159]:
names

['Femi',
 'Ibukun',
 'Tola',
 'George',
 'Kemi',
 'Austin',
 'Peter',
 'John',
 'Grace',
 'Uche',
 'Paul']

In [160]:
for i in names:
    if (i == 'Austin'):
            print(i)

Austin

In [161]:
i

'Paul'

## While Loop - you can read up on this

## Map and Filter

map takes two arguments, the first is what it should do and the list

In [162]:
#a function to the power of 2
def times2(x):
    return x*2

In [163]:
lambda x:x*2

In [164]:
my_list = [2,5,7,1,9,8]

In [165]:
y=map(times2, my_list) # map(function_name or lambda, list or value)

To get an output from the map, put all into a list

In [166]:
list(y)

[4, 10, 14, 2, 18, 16]

This is applicable when you are working with a large dataset that has decimals that can be multiplied by 100, you can use a map.

In [167]:
list(map(lambda x: x*2, my_list))

[4, 10, 14, 2, 18, 16]

## Filter

performs the same function as map, however the output of filter is performed on only the places where the expression in filter holds true

In [168]:
my_list = [2,5,7,1,9,8]

In [169]:
y= list(filter(lambda x:x%2 == 0, my_list))

In [170]:
y

[2, 8]

## Congratulations!

Thanks to Grace Ifeoshi.........