### Packages

#### Functions and Methods are extremely powerful. You can basically use other people's codes to solve your own problem. However, adding all functions and methods that have been written until now to the same python districution will be a big mess. We will have a messy huge code base, tons of codes you will never use, code maintenance problems. 

In solving this problem, packages were introduced. Packages are directory of python scripts, each scripts is called module. And each modules specify python funtions, methods and types. There are many packages for python available on the internet and part of these packages are packages for data science, Numpy- to efficeintly work with arrays, matplotlib for data visualization, scikit-learn for machine learning, keras for deep learning, pandas for data manipulation.

To use these packages you have to install them using pip on your command line. After installation, you will need to import the package or specific functions in the package

### Numpy
Numpy is one of the libraries in python that is used to perform numerical operations for data science

In [1]:
# importing numpy using alias. 
import numpy as np

In [2]:
# array is a commonly used python function. if you use it without importation , it will throw an error. 
# TURNING A LIST TO AN ARRAY

In [3]:
my_list = [1,2,3]
my_list

[1, 2, 3]

In [4]:
array(my_list)

NameError: name 'array' is not defined

In [5]:
np.array(my_list)

array([1, 2, 3])

In [6]:
arr = np.array(my_list)
arr

array([1, 2, 3])

In [7]:
# Using just a specific function in a package numpy, you can import only that funcion using
from numpy import array

In [8]:
my_matrix = [[1,2,3],[4,5,6],[7,8,9]]
array(my_matrix)

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

### Why numpy?

Lists are very powerful, they are collection of values, hold different data types, can change/remove/update elements. However, in data science you will need to perform mathematical operation over an entire collection of values and you want to do this very fast.

For example

In [10]:
# to caluclate the bmi of a collection of persons
height = [4.12, 5.26, 6.75]
weight = [60.4, 70.3, 80.1]
bmi = weight/height**2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

#### Solution Numpy/ Numeric python, an alternative to the regular python list (numpy array), calculations can be performed over an entire array. Its easy and fast! Numpy package is already installed with anaconda

In [16]:
# creating numpy array version of the height and weight
np_height = np.array(height)
np_weight = np.array(weight)

In [14]:
np_height

array([4.12, 5.26, 6.75])

In [15]:
np_weight

array([60.4, 70.3, 80.1])

In [18]:
bmi = np_weight/np_height**2
bmi

array([3.55829956, 2.54087814, 1.75802469])

Note Numpy array can only contain element of a single type, array of float, int or strings. It does element wise calculations. It also a python type that can come with its own methods. Also pay attention when you are joggling with different python types

In [20]:
# for example
list1 = [1,2,3]
npArray = np.array(list1)
npArray

array([1, 2, 3])

In [2]:
newList = [2,4,6]
newList + newList

[2, 4, 6, 2, 4, 6]

In [4]:
import numpy as np
newArray = np.array(newList)
newArray

array([2, 4, 6])

In [5]:
newArray + newArray

array([ 4,  8, 12])

In [21]:
list1 + list1

[1, 2, 3, 1, 2, 3]

In [22]:
npArray + npArray

array([2, 4, 6])

#### Numpy Methods

In [6]:
#Generate a range of numbers between 1 and 10 (end exclusive)
x =np.arange(1,10)

In [7]:
x

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
len(x)

9

In [9]:
#Generates a range of numbers between 1 and 10, with a stepsize of 2
np.arange(1,10,3)

array([1, 4, 7])

In [30]:
np.random.seed(101)

In [31]:
# Generate two random integers between 1 and 10(exclusive)
np.random.randint(1,10,7)

array([2, 7, 8, 9, 5, 9, 6])

In [25]:
a1

array([9, 7, 5, 4, 1, 5, 7])

In [35]:
a1.max()

9

In [36]:
b = np.random.randint(1, a1.max(),2)

In [37]:
b

array([8, 4])

#### ARANGE FUNCTION TAKES IN THE THIRD ARGUMENT AS THE STEP SIZE

In [31]:
np.arange(0,11,2)

array([ 0,  2,  4,  6,  8, 10])

In [32]:
np.zeros(3)

array([0., 0., 0.])

In [38]:
np.zeros((2,3)) # two dimentional array with 3 elements

array([[0., 0., 0.],
       [0., 0., 0.]])

In [18]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [19]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [74]:
np.linspace(0,10,10)

array([ 0.        ,  1.11111111,  2.22222222,  3.33333333,  4.44444444,
        5.55555556,  6.66666667,  7.77777778,  8.88888889, 10.        ])

In [33]:
np.linspace(0,20,100) # returns evenly space values from 0 to 20

array([ 0.        ,  0.2020202 ,  0.4040404 ,  0.60606061,  0.80808081,
        1.01010101,  1.21212121,  1.41414141,  1.61616162,  1.81818182,
        2.02020202,  2.22222222,  2.42424242,  2.62626263,  2.82828283,
        3.03030303,  3.23232323,  3.43434343,  3.63636364,  3.83838384,
        4.04040404,  4.24242424,  4.44444444,  4.64646465,  4.84848485,
        5.05050505,  5.25252525,  5.45454545,  5.65656566,  5.85858586,
        6.06060606,  6.26262626,  6.46464646,  6.66666667,  6.86868687,
        7.07070707,  7.27272727,  7.47474747,  7.67676768,  7.87878788,
        8.08080808,  8.28282828,  8.48484848,  8.68686869,  8.88888889,
        9.09090909,  9.29292929,  9.49494949,  9.6969697 ,  9.8989899 ,
       10.1010101 , 10.3030303 , 10.50505051, 10.70707071, 10.90909091,
       11.11111111, 11.31313131, 11.51515152, 11.71717172, 11.91919192,
       12.12121212, 12.32323232, 12.52525253, 12.72727273, 12.92929293,
       13.13131313, 13.33333333, 13.53535354, 13.73737374, 13.93939394,
       14.14141414, 14.34343434, 14.54545455, 14.74747475, 14.94949495,
       15.15151515, 15.35353535, 15.55555556, 15.75757576, 15.95959596,
       16.16161616, 16.36363636, 16.56565657, 16.76767677, 16.96969697,
       17.17171717, 17.37373737, 17.57575758, 17.77777778, 17.97979798,
       18.18181818, 18.38383838, 18.58585859, 18.78787879, 18.98989899,
       19.19191919, 19.39393939, 19.5959596 , 19.7979798 , 20.        ])

In [39]:
np.linspace(0,5,10)

array([0.  , 1.25, 2.5 , 3.75, 5.  ])

#### LINSPACE IS USED HERE TO PRINT OUT 10 EQUALLY SPACED VALUES FROM 0 TO 5, IT CAN BE ANY NUMBER OF EQUALLY SPACED VALUES, IT TAKES IN THE THIRD ARGUMENT AS THE NUM OF POINTS NEEDED

In [2]:
np.linspace(0,5,10)

array([0.        , 0.55555556, 1.11111111, 1.66666667, 2.22222222,
       2.77777778, 3.33333333, 3.88888889, 4.44444444, 5.        ])

In [68]:
np.linspace(0,10,3)

array([ 0.,  5., 10.])

In [82]:
N=13
S2= np.random.randint(1,N-1,3)

In [28]:
np.linspace(0,8,3)

array([0., 4., 8.])

#### CREATING AN IDENTITY MATRIX WITH NUMPY

In [13]:
np.ones((3,4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

#### identity matrix

In [32]:
identity=np.eye(10)

In [33]:
identity

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [34]:
identity.shape

(10, 10)

#### THE NEXT LINE GIVES A SET OF 5 UNIFORMLY SPACED VALUES FROM 0 TO 1

In [35]:
np.random.rand(5)

array([0.72154386, 0.18993895, 0.55422759, 0.35213195, 0.1818924 ])

In [16]:
np.random.rand(5,5)

array([[0.08818513, 0.99339883, 0.8114499 , 0.12640057, 0.5763067 ],
       [0.36876998, 0.12099925, 0.65195408, 0.13352559, 0.87477281],
       [0.64269058, 0.98512935, 0.79222652, 0.52682728, 0.76423604],
       [0.657972  , 0.27829176, 0.22843993, 0.28995499, 0.36214728],
       [0.48702889, 0.44221771, 0.72195788, 0.71507225, 0.99816637]])

#### Getting an array from a standard normal distribution

In [17]:
np.random.randn(4,4)

array([[ 0.38988442,  0.60957264,  0.06595664, -2.40191244],
       [-1.23347016, -0.04551871,  0.07763754,  0.50224471],
       [ 0.5556682 , -0.40833523,  0.21250761,  0.56492312],
       [ 1.1908911 , -1.41324093,  0.69593819, -1.36998132]])

#### Gives 10 random integers inclusive on the low end and exclusive on the high end

In [30]:
np.random.randint(1,100,10)

array([85, 27, 79, 99, 62, 36, 78, 18, 59, 16])

In [31]:
arr = np.arange(1,24)

In [32]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23])

In [33]:
len(arr)

23

In [36]:
ranarr = np.random.randint(0,50,10)

In [45]:
ranarr

array([24, 43, 33,  8, 36, 14, 49, 13,  5, 13])

In [37]:
ranarr.reshape(2,5)

array([[47,  8, 29, 34, 44],
       [ 8, 19, 10, 12, 31]])

In [40]:
arr = np.arange(0,25)
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24])

In [41]:
arr.reshape(5,5)

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [54]:
ranarr.max()

49

In [55]:
ranarr.min()

5

In [52]:
#ranarr.argmax()

In [53]:
#ranarr.argmin()

In [28]:
ranarr.shape

(10,)

In [29]:
arr.shape

(25,)

In [30]:
shapedarr = arr.reshape(5,5)

In [31]:
shapedarr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [32]:
shapedarr.shape

(5, 5)

In [33]:
shapedarr.dtype

dtype('int32')

# NUMPY INDEXING AND SELECTION

In [44]:
arr = np.arange(0,11)

In [45]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [46]:
arr[-6]

5

In [59]:
arr[4]

4

In [62]:
arr[:8]

array([0, 1, 2, 3, 4, 5, 6, 7])

In [63]:
arr[:]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [39]:
arr[:6]

array([0, 1, 2, 3, 4, 5])

In [40]:
arr[5:]

array([ 5,  6,  7,  8,  9, 10])

### THE ABILITY OF NUMPY ARRAYS TO BROADCAST

In [19]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [20]:
arr.mean()

5.0

In [21]:
arr.std()

3.1622776601683795

In [64]:
arr = np.random.randint(1,20,10)

In [47]:
arr

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [48]:
slice_of_arr = arr[0:6]

In [49]:
slice_of_arr

array([0, 1, 2, 3, 4, 5])

In [50]:
slice_of_arr[:] = 99

In [51]:
slice_of_arr

array([99, 99, 99, 99, 99, 99])

In [52]:
arr
#note that the changes also occur in original array

array([99, 99, 99, 99, 99, 99,  6,  7,  8,  9, 10])

#### But the data is not copied, it's a view of the original array

In [53]:
#To copy data from an array, getting a copy requires you to be explicit
arr_copy = arr.copy()
arr_copy

array([99, 99, 99, 99, 99, 99,  6,  7,  8,  9, 10])

## Indexing A 2D ARRAY (MATRICES)

In [55]:
# A 2d array can be created from a python lists of list. eg. height and weight of a family
arr_2d = np.array(([5,10,15],[20,25,30],[35,40,45]))

In [56]:
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [60]:
arr_2d[1,0]

20

In [61]:
arr_2d[1][0]

20

In [57]:
arr_2d[:3,:3]

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [59]:
arr_2d[:2,1:3]

array([[10, 15],
       [25, 30]])

In [55]:
arr_2d[1][0]

20

In [56]:
arr_2d[2]

array([35, 40, 45])

In [62]:
arr_2d[:2,2:]
## I just noticed that the rows count from 0 while the columns count from 1

array([[15],
       [30]])

### Fancy Indexing
###### fancy indexing allows you to select entire rows or columns out of order

In [63]:
#Set up matrix
arr2d = np.zeros((10,10))
arr2d

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [65]:
arr2d.shape[0]

10

In [46]:
#Length of array
arr_length = arr2d.shape[1]
arr_length

10

In [65]:
#Set up array

for i in range(arr_length):
    arr2d[i] = i
    
arr2d

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [2., 2., 2., 2., 2., 2., 2., 2., 2., 2.],
       [3., 3., 3., 3., 3., 3., 3., 3., 3., 3.],
       [4., 4., 4., 4., 4., 4., 4., 4., 4., 4.],
       [5., 5., 5., 5., 5., 5., 5., 5., 5., 5.],
       [6., 6., 6., 6., 6., 6., 6., 6., 6., 6.],
       [7., 7., 7., 7., 7., 7., 7., 7., 7., 7.],
       [8., 8., 8., 8., 8., 8., 8., 8., 8., 8.],
       [9., 9., 9., 9., 9., 9., 9., 9., 9., 9.]])

In [66]:
arr2d[[2,4,6,8]]

array([[2., 2., 2., 2., 2., 2., 2., 2., 2., 2.],
       [4., 4., 4., 4., 4., 4., 4., 4., 4., 4.],
       [6., 6., 6., 6., 6., 6., 6., 6., 6., 6.],
       [8., 8., 8., 8., 8., 8., 8., 8., 8., 8.]])

In [67]:
#Allows in any order
arr2d[[6,4,2,7]]

array([[6., 6., 6., 6., 6., 6., 6., 6., 6., 6.],
       [4., 4., 4., 4., 4., 4., 4., 4., 4., 4.],
       [2., 2., 2., 2., 2., 2., 2., 2., 2., 2.],
       [7., 7., 7., 7., 7., 7., 7., 7., 7., 7.]])

#### SELECTION

In [69]:
arr = np.arange(1,11)

In [70]:
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [71]:
newarr = arr > 5

In [72]:
arr[newarr]

array([ 6,  7,  8,  9, 10])

In [95]:
bool_arr = arr > 4

In [96]:
bool_arr

array([False, False, False, False,  True,  True,  True,  True,  True,
        True])

In [97]:
# Only the elements that are true are returned
arr[bool_arr]

array([ 5,  6,  7,  8,  9, 10])

In [74]:
x = 2
arr > x

array([False, False,  True,  True,  True,  True,  True,  True,  True,
        True])

### NumPy Arithmetic Operations

In [75]:
arr = np.arange(0,10)

In [76]:
arr + arr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [77]:
arr * arr

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [78]:
arr - arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [79]:
arr/arr

C:\Users\DELL\Anaconda3\envs\Train\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in true_divide
  """Entry point for launching an IPython kernel.

array([nan,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [80]:
1/arr

C:\Users\DELL\Anaconda3\envs\Train\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([       inf, 1.        , 0.5       , 0.33333333, 0.25      ,
       0.2       , 0.16666667, 0.14285714, 0.125     , 0.11111111])

In [83]:
arr ** 3

array([  0,   1,   8,  27,  64, 125, 216, 343, 512, 729], dtype=int32)

## Universal Array Functions

###### common array functions in numpy

In [85]:
####Taking Sqrt
np.sqrt(81)

9.0

In [86]:
#### Taking the sqrt of an array 
np.sqrt(arr)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [87]:
np.exp(arr)

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

In [88]:
np.max(arr)

9

In [89]:
np.min(arr)

0

In [90]:
np.sin(arr)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
       -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849])

In [91]:
np.log(arr)

C:\Users\DELL\Anaconda3\envs\Train\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in log
  """Entry point for launching an IPython kernel.

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])